[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aeron = {ref = "v0.2.0", git = "ssh://git@github.com/RoboTradeCode/aeron-python.git"}
ccxtpro = {subdirectory = "python", ref = "1.1.17", git = "ssh://git@github.com/kroitor/ccxt.pro.git"}
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
