[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aeron = {git = "ssh://git@github.com/RoboTradeCode/aeron-python.git"}
aiofiles = "*"
aiohttp = "*"
ccxtpro = {subdirectory = "python", git = "ssh://git@github.com/RoboTradeCode/ccxt.pro.git"}
pymemcache = "*"
pyyaml = "*"

[requires]
python_version = "3.10"

[dev-packages]
pytest = "*"
