[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aeron = {git = "ssh://git@github.com/RoboTradeCode/aeron-python.git"}
aiohttp = "*"
ccxtpro = {subdirectory = "python", git = "ssh://git@github.com/kroitor/ccxt.pro.git"}
pyyaml = "*"
bidict = "*"
aiofiles = "*"
sentry-sdk = "*"
pymemcache = "*"

[dev-packages]
pytest = "*"
coverage = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.10"
